<ion-header>
  <ion-toolbar>
    <ion-button (click)="VaiproPerfil()" >
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centralizar">
    <form [formGroup]="registerProdutoForm" (ngSubmit)="registrarProduto(registerProdutoForm)">

      <div class="divFormulario">

        <h2>Cadastro Produto</h2>

        <ion-item class="inputProduto">
          <ion-input type="text" formControlName = "productName" placeholder="Nome do Produto" ></ion-input>
        </ion-item>

        <ion-item class="inputProduto">
          <ion-input type="text" formControlName="quantity" placeholder="Quantidade em estoque" ></ion-input>
        </ion-item>

        <ion-item class="inputProduto">
          <ion-input type="text" formControlName="price" placeholder="Preço/Kg" ></ion-input>
        </ion-item>

        <!-- <ion-list   class="ion-margin-top" >
          <ion-radio-group formControlName="type">
            <ion-list-header>
              <ion-label> Tipo de Produto </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Legume</ion-label>
              <ion-radio slot="start" value="legume"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Verdura</ion-label>
              <ion-radio slot="start" value="verdura"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Fruta</ion-label>
              <ion-radio slot="start" value="fruta"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list> -->
      </div>

      <ion-row class="ion-justify-content-center">
        <ion-button  type="submit" color="primary" shape="round" >Adicionar Produto</ion-button>
      </ion-row>

    </form>

  </div>


</ion-content>
