<ion-header>
  <ion-toolbar>
    <ion-button (click)="botaoVoltar()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="fundo">
  <div class="centralizar">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="logarUsuario(loginForm)">
    <div class="divFormulario">
      <h2>Login</h2>
        <ion-item class="inputLogin">
          <ion-input type="email" placeholder="e-mail" formControlName = "email"></ion-input>
        </ion-item>
        <ion-item class="inputLogin">
          <ion-input type="password" placeholder="senha" formControlName = "password"></ion-input>
        </ion-item>
    </div>
      <ion-row>
        <ion-button type="submit" color="primary" shape="round" [disabled]="loginForm.invalid">Entrar</ion-button>
        <ion-button (click)="goToCadastro()" color="primary" shape="round">Cadastrar</ion-button>
      </ion-row>
  </form>
  </div>
</ion-content>
