<ion-header>
  <ion-toolbar>
    <ion-button (click)="VaipraHomeLogado()" >
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

<div class="centralizar">


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size=5>

        <ion-avatar class="avatar">
          <img src="../../assets/imagens/person.png">
        </ion-avatar>

      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size=6>



      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="containerPerfil">
    <h1>{{username}}</h1>
    <h2>{{userplace}}</h2>
  </div>

</div>

<div *ngIf="typecompare" class="vendedor">


<ion-fab (click)="VaipraCadastroProduto()" vertical="end" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"> </ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-grid>
  <ion-row>

  <h1>Meus Produtos</h1>

<ion-slides [options]="slideOpts">

  <ion-slide *ngFor ="let produto of produtos">

      <app-produtos-perfil [produto]="produto"></app-produtos-perfil>

  </ion-slide>
</ion-slides>

</ion-row>

</ion-grid>

</div>



</ion-content>
