<ion-header>
  <ion-toolbar>
    <ion-button (click)="VaipraHome()" >
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <!-- <ion-title>Cadastro</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">

  <div class="centralizar">
      <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
        <div class="divFormulario">
          <h2>Cadastro</h2>

          <ion-item class="inputCadastro" [class.invalid]="registerForm.controls.name.invalid && registerForm.controls.name.touched">
            <!-- <ion-label position = "floating"> Nome </ion-label> -->
            <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
          </ion-item>

          <ion-item class="inputCadastro" [class.invalid]="registerForm.controls.email.invalid && registerForm.controls.email.touched">
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input type="email" placeholder="E-mail" formControlName="email"> </ion-input>
          </ion-item>

          <ion-item class="inputCadastro" [class.invalid]="registerForm.controls.password.invalid && registerForm.controls.password.touched">
            <!-- <ion-label position="floating">Senha</ion-label> -->
            <ion-input type="password" placeholder="Senha" formControlName="password"> </ion-input>
          </ion-item>

          <ion-item class="inputCadastro" >
            <!-- <ion-label position="floating">Estado:</ion-label> -->
            <!-- <ion-input type="text" placeholder="Estado" formControlName="estate" > </ion-input> -->
            <ion-select  placeholder="Insira seu estado" >
              <ion-select-option value="acre">Acre</ion-select-option>
              <ion-select-option value="alagoas">Alagoas</ion-select-option>
              <ion-select-option value="amapa">Amapá</ion-select-option>
              <ion-select-option value="amazonas">Amazonas</ion-select-option>
              <ion-select-option value="bahia">Bahia</ion-select-option>
              <ion-select-option value="ceara">Ceará</ion-select-option>
              <ion-select-option value="distrito">Distrito Federal*</ion-select-option>
              <ion-select-option value="espiritosanto">Espirito Santo</ion-select-option>
              <ion-select-option value="goias">Goias</ion-select-option>
              <ion-select-option value="maranhao">Maranhão</ion-select-option>
              <ion-select-option value="matogrosso">Mato Grosso</ion-select-option>
              <ion-select-option value="matogrossodosul">Mato Grosso do Sul</ion-select-option>
              <ion-select-option value="minasgerais">Minas Gerais</ion-select-option>
              <ion-select-option value="para">Pará</ion-select-option>
              <ion-select-option value="paraiba">Paraíba</ion-select-option>
              <ion-select-option value="parana">Paraná</ion-select-option>
              <ion-select-option value="pernambuco">Pernambuco</ion-select-option>
              <ion-select-option value="piaui">Piauí</ion-select-option>
              <ion-select-option value="riodejaneiro">Rio de Janeiro</ion-select-option>
              <ion-select-option value="riograndedonorte">Rio Grande do Norte</ion-select-option>
              <ion-select-option value="riograndedosul">Rio Grande do Sul</ion-select-option>
              <ion-select-option value="rondonia">Rondônia</ion-select-option>
              <ion-select-option value="roraima">Roraima</ion-select-option>
              <ion-select-option value="santacatarina">Santa Catarina</ion-select-option>
              <ion-select-option value="saopaulo">São Paulo</ion-select-option>
              <ion-select-option value="sergipe">Sergipe</ion-select-option>
              <ion-select-option value="tocantins">Tocantins</ion-select-option>

            </ion-select>
          </ion-item>

        </div>

        <ion-row class="ion-justify-content-center">
          <ion-button (click)="VaiproLogin()" type="submit" color="success" shape="round" [disabled]="registerForm.invalid">Cadastrar</ion-button>
        </ion-row>

      </form>

    </div>

</ion-content>
