<ion-header>
  <ion-toolbar>
    <ion-button (click)="VaipraHome()" >
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="fundo">

  <div class="centralizar">
      <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario (registerForm)">
        <div class="divFormulario">
          <h2>Cadastro</h2>

          <ion-item class="inputCadastro" [class.invalid]="registerForm.controls.name.invalid && registerForm.controls.name.touched">
            <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
          </ion-item>

          <ion-item class="inputCadastro" [class.invalid]="registerForm.controls.email.invalid && registerForm.controls.email.touched">
            <ion-input type="email" placeholder="E-mail" formControlName="email"> </ion-input>
          </ion-item>

          <ion-item class="inputCadastro" [class.invalid]="registerForm.controls.password.invalid && registerForm.controls.password.touched">
            <ion-input type="password" placeholder="Senha" formControlName="password"> </ion-input>
          </ion-item>

          <ion-item class="inputCadastro" >


              <ion-select formControlName="state" placeholder="Insira seu estado" >
              <ion-select-option value="Acre">Acre</ion-select-option>
              <ion-select-option value="Alagoas">Alagoas</ion-select-option>
              <ion-select-option value="Amapa">Amapá</ion-select-option>
              <ion-select-option value="Amazonas">Amazonas</ion-select-option>
              <ion-select-option value="Bahia">Bahia</ion-select-option>
              <ion-select-option value="Ceara">Ceará</ion-select-option>
              <ion-select-option value="Distrito">Distrito Federal*</ion-select-option>
              <ion-select-option value="Espiritosanto">Espirito Santo</ion-select-option>
              <ion-select-option value="Goias">Goias</ion-select-option>
              <ion-select-option value="Maranhao">Maranhão</ion-select-option>
              <ion-select-option value="Matogrosso">Mato Grosso</ion-select-option>
              <ion-select-option value="Matogrossodosul">Mato Grosso do Sul</ion-select-option>
              <ion-select-option value="Minasgerais">Minas Gerais</ion-select-option>
              <ion-select-option value="Para">Pará</ion-select-option>
              <ion-select-option value="Paraiba">Paraíba</ion-select-option>
              <ion-select-option value="Parana">Paraná</ion-select-option>
              <ion-select-option value="Pernambuco">Pernambuco</ion-select-option>
              <ion-select-option value="Piaui">Piauí</ion-select-option>
              <ion-select-option value="Riodejaneiro">Rio de Janeiro</ion-select-option>
              <ion-select-option value="Riograndedonorte">Rio Grande do Norte</ion-select-option>
              <ion-select-option value="Riograndedosul">Rio Grande do Sul</ion-select-option>
              <ion-select-option value="Rondonia">Rondônia</ion-select-option>
              <ion-select-option value="Roraima">Roraima</ion-select-option>
              <ion-select-option value="Santacatarina">Santa Catarina</ion-select-option>
              <ion-select-option value="Saopaulo">São Paulo</ion-select-option>
              <ion-select-option value="Sergipe">Sergipe</ion-select-option>
              <ion-select-option value="Tocantins">Tocantins</ion-select-option>

            </ion-select>
          </ion-item>



          <ion-list   class="ion-margin-top" >
            <ion-radio-group formControlName="typeuser">
              <ion-list-header>
                <ion-label> Tipo de Usuário </ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>Comprador</ion-label>
                <ion-radio slot="start" value="false"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Vendedor</ion-label>
                <ion-radio slot="start" value="true"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-list>

        </div>

        <ion-row class="ion-justify-content-center">
          <ion-button (click)="VaiproLogin()" type="submit" color="primary" shape="round" [disabled]="registerForm.invalid">Cadastrar</ion-button>
        </ion-row>


      </form>

    </div>

</ion-content>
