<ion-header>
  <ion-toolbar>
    <ion-button (click)="botaoVoltarHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">
<div class="containerPerfil">
	<ion-avatar class="avatar">
	  		<img src='../../../assets/imagens/defaultProfilePicture.jpg'>
	</ion-avatar>
	<h2>Nome do Usuário</h2>
	<h2>Cidade</h2>
	<!-- <ion-label></ion-label>
	<ion-button></ion-button> -->
</div>
  	<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="Fab">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    </ion-fab>
</ion-content>
