.fundointro{
--background: url('/../../assets/imagens/wallpaperintro.jpg')0 0/100% 100% no-repeat;
  background-size: cover;
}

h1{
  font-size: 40px;
}

.divh1{
  height:50vh;

  display: flex;
  justify-content: flex-end;
  align-content:end;
}
