<ion-header>
  <ion-toolbar>
    <ion-button (click)="VaipraHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="imgProduto">
  <img src="../../../assets/imagens/banana.jpg" alt="">
</div>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <p>Banana Prata</p>
    </ion-col>
      <ion-button> Comprar </ion-button>
    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid>

<ion-card class="informacoes">
  <ion-card-content>
    <p>3,99 kg</p>
    <p>Vendedor: Rafael</p>
    <p>Quantidade Disponível: 20un</p>
  </ion-card-content>
</ion-card>

</ion-content>
