<ion-header>
  <ion-toolbar>
    <ion-button (click)="VaipraHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="imgProduto">
  <img src="../../../assets/imagens/banana.jpg" alt="">
</div>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <h1>{{productName}}</h1>
      <p>Preço: R${{productPrice}} /Kg</p>
      <p>Quantidade Disponível: {{productQuantity}}</p>

    </ion-col>
      <ion-button> Comprar </ion-button>

  </ion-row>
</ion-grid>


</ion-content>
