<ion-header>
  <!-- <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons> -->

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col  size="2" id="col3">

        <ion-buttons>
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>


      </ion-col>

      <ion-col id="col1">
        <!-- <ion-searchbar showCancelButton="never" ></ion-searchbar> BARRA DE PESQUISA IGUAL DA PAGE PESQUISA-->
        Faça sua busca
      </ion-col>

      <ion-col size="3" id="col2">
        <ion-icon name="cart" id="shopp" ></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="1">
        <ion-icon name="pin"></ion-icon>
      </ion-col>

      <ion-col>
        Informe sua cidade
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>

      <h1>Produtos da estação.</h1>

      <ion-col>
        <ion-card class="cardhome">
          <ion-card-header id="imgcard1" > </ion-card-header>
          <ion-card-content > </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardhome">
          <ion-card-header id="imgcard2" > </ion-card-header>
            <ion-card-content > </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
<!-- ****************************************** -->
    <ion-row>
      <h1>Produtos mais vendidos.</h1>

      <ion-col>
        <ion-card class="cardhome">
          <ion-card-header id="imgcard3" > </ion-card-header>
          <ion-card-content > </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardhome">
          <ion-card-header id="imgcard4" > </ion-card-header>
          <ion-card-content > </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

    <!-- ****************************************** -->
      <ion-row>

        <h1>Produtores mais conhecidos.</h1>

        <ion-col>

          <ion-card class="cardhome">
            <ion-card-header id="imgcard5"> </ion-card-header>
            <ion-card-content > </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="cardhome">
            <ion-card-header id="imgcard6" > </ion-card-header>
            <ion-card-content > </ion-card-content>
          </ion-card>

        </ion-col>

      </ion-row>

  </ion-grid>
</ion-content>
