<ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col  size="2" id="col3">

        <ion-buttons>
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <h1>Produtos Cadastrados</h1>

      <ion-slides  [options]="slideOpts">

        <ion-slide *ngFor = "let produto of produtoshome">
          <app-produtos-home [prodHome]="produto"></app-produtos-home>
        </ion-slide>

      </ion-slides>
    </ion-row>

    <ion-row>

      <h1>Produtores Cadastrados</h1>
      <ion-slides  [options]="slideOpts">

        <ion-slide *ngFor = "let vendedor of vendedoreshome">
          <app-vendedores-home [vendedoresHome]="vendedor"></app-vendedores-home>
        </ion-slide>

      </ion-slides>
    </ion-row>

    <!-- <ion-row>

      <h1>Produtores Conhecidos.</h1>

      <ion-slides  [options]="slideOpts">
        <ion-slide>

          <ion-card class="cardhome">
            <ion-card-header id="feira1" > </ion-card-header>
            <ion-card-content > Tenda do Rafa</ion-card-content>
          </ion-card>

          <ion-card class="cardhome">
            <ion-card-header id="feira2" > </ion-card-header>
            <ion-card-content > Organicos do Gabriel</ion-card-content>
          </ion-card>

          <ion-card class="cardhome">
            <ion-card-header id="feira3" > </ion-card-header>
            <ion-card-content > GabiFrutas</ion-card-content>
          </ion-card>

        </ion-slide>

      </ion-slides>
    </ion-row> -->
  </ion-grid>
</ion-content>
