<ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col  size="2" id="col3">

        <ion-buttons>
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>


      </ion-col>

      <ion-col  id="col1">
        <!-- <ion-searchbar showCancelButton="never" ></ion-searchbar> BARRA DE PESQUISA IGUAL DA PAGE PESQUISA-->
        Faça sua busca
      </ion-col>

      <!-- (click)="VaiproBuscar()" -->

      <ion-col size="3" id="col2">
        <ion-icon  name="cart" id="shopp" ></ion-icon>
      </ion-col>
      <!-- (click)="VaiproCarrinho()" -->

    </ion-row>

    <ion-row>
      <ion-col>
        Olá {{username}}, {{userplace}}
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-header>

<ion-content>


  <ion-grid>

    <ion-row>

      <h1>Produtos disponíveis.</h1>

      <ion-slides  [options]="slideOpts">

        <ion-slide *ngFor ="let produto of bla">
          <app-produtos [prodObj]="produto"></app-produtos>
        </ion-slide>


      </ion-slides>

    </ion-row>

    <ion-row>

      <h1>Produtores Cadastrados</h1>

      <ion-slides  [options]="slideOpts">

        <ion-slide *ngFor = "let vendedor of vendedores">
          <app-vendedores [prodObj]="vendedor"></app-vendedores>
        </ion-slide>


      </ion-slides>

  </ion-row>

  <ion-row>

    <h1>Produtos da estação.</h1>

    <ion-slides  [options]="slideOpts">

    <ion-slide>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard1" > </ion-card-header>
        <ion-card-content > Banana</ion-card-content>
      </ion-card>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard2" > </ion-card-header>
        <ion-card-content > Morango </ion-card-content>
      </ion-card>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard3" > </ion-card-header>
        <ion-card-content > Melancia </ion-card-content>
      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard4" > </ion-card-header>
        <ion-card-content > Laranja</ion-card-content>
      </ion-card>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard5" > </ion-card-header>
        <ion-card-content > Alface</ion-card-content>
      </ion-card>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard6" > </ion-card-header>
        <ion-card-content > Tomate </ion-card-content>
      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard7" > </ion-card-header>
        <ion-card-content > Cebola </ion-card-content>
      </ion-card>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard8" > </ion-card-header>
        <ion-card-content > Pepino </ion-card-content>
      </ion-card>

      <ion-card class="cardhome">
        <ion-card-header id="imgcard9" > </ion-card-header>
        <ion-card-content > Tangerina </ion-card-content>
      </ion-card>


    </ion-slide>
  </ion-slides>

  </ion-row>
      <!-- <ion-col>
        <ion-card class="cardhome">
          <ion-card-header id="imgcard1" > </ion-card-header>
          <ion-card-content > </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardhome">
          <ion-card-header id="imgcard2" > </ion-card-header>
            <ion-card-content > </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row> -->
  <!-- ****************************************** -->


    </ion-grid>
  </ion-content>
